@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cierna: #1B120D; 
  --zlata: #cea46f; 
  --biela: #fff;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

h1, h2,h3,h4,h5,h6{
  font-family: var(--font-petrona) ,'Courier New', Courier, monospace;
}

html::-webkit-scrollbar{
  scrollbar-width: thin;
  scrollbar-color: white;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background: var(--cierna);
}